@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e3eb;
}

.display{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    color: #000e1a;
    pointer-events: none;
    /* padding-right: 10px; */
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: #2f9fff;
}